<nav class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand" href="/">
        <img src="/img/ufjf-logo.png" alt="Logo UFJF" width="150px" height="60px">
    </a>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav nav-pills nav-fill">
        <a class="nav-item nav-link text-light" href="/">Home</a>
        <a class="nav-item nav-link text-light" href="/login">Login</a>
      </div>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>

</nav>